<div class="container">

  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" routerLinkActive="active" routerLink="/template-driven-form">1. Template Driven Form
        </li>
        <li class="list-group-item">2. Template Driven Form Patch Value</li>
        <li class="list-group-item">3. Reactive Form</li>
        <li class="list-group-item">4. Reactive Form Patch Value</li>
        <li class="list-group-item">5. Reactive Form Array</li>
        <li class="list-group-item">6. Reactive Form Array Patch value</li>
        <li class="list-group-item">7. Nested Reactive Form</li>
        <li class="list-group-item">8. Nested Reactive Form Patch Value</li>
        <li class="list-group-item">9. Nested Reactive Form Array</li>
        <li class="list-group-item">10. Nested Reactive Form Array Patch Value</li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>